spring:
  application:
    name: payment-service
  datasource:
    url: "jdbc:sqlite:payment.db"
    driver-class-name: org.sqlite.JDBC
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
jakarta:
  persistence:
    jdbc:
      url: "jdbc:sqlite:payment.db"
      driver: org.sqlite.JDBC
